@import "../../../../scss/index.scss";

.list-users {

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

    
        &__switch {
            display: flex;
            margin-right: auto;

        }

        button {
            margin-right: 20px;
        }

       

       
    }

    .users-active {
        background-color: $background-light;
        padding: 10px 20px;

        .ant-list-item-meta {
            display: flex;
            align-items: center;
        }
    }
    .ant-back-top {
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 4px;
        background-color: $primary-color;
        color: #fff;
        text-align: center;
        font-size: 14px;

        &:hover {
            
            background-color: $primary-color-hover;
            border: 1px dashed $error;
        }
    }

}