@import "../../../../scss/index.scss";

.add-carpetas-form {
    padding-bottom: 50px;
    .form-carpetas {
        margin-top: 5px;
        margin-bottom: 5px;
        i {
            color: $background-dark;
        }
    }

    .btn-submit {
        width: 100%;
    }

}