@import "../../../scss/index.scss";

.footer {
    background-color: $menu-color;
    border-top: 3px solid $primary-color;

    &__copyright {

        font-size: 1rem;

        @media only screen and (max-width: 500px) {
            span {
                font-size: 65%;
            }
        }

        @media only screen and (max-width: 768px) {
            span {
                font-size: 65%;
            }
        }

        .ant-col {
            color: $primary-color-dark;

            &:last-of-type {
                text-align: left;
            }
        }
    }
}