@import "../../../scss/index.scss";

.footer {
     background-color: $background-dark-web;
     border-top: 3px solid $primary-color;
     
     top: 80%;
     position: absolute;
    

    
    
    &__copyright{
     
        font-size: 1rem;

        .ant-col{
            color: $primary-color-dark;

            &:last-of-type{
                text-align: left;
            }
        }
    }
}