@import "../../../../scss/index.scss";

.list-conceptos {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

    }

    .conceptos {
        background-color: $background-light;
        padding: 10px 20px;
        m

        .ant-list-item-meta {
            display: flex;
            align-items: center;
            margin-top: 50px;
        }
       
    }
}